<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="">
    <title>REGISTRE</title>
</head>
<body>
    <form action="">
        <h2>Enregistrez-vous</h2>
    <label for="nomuser">Nom </label>
      <input type="text" id="nom" name="nom"><br><br>
      <label for="prenom">Prénom </label>
      <input type="text" id="prenom" name="prenom"><br><br>
    <label for="username"> Nom d'utilisateur </label>
      <input type="text" id="username" name="username"><br><br>
      
      <label for="email">Email </label>
      <input type="email" id="email" name="email"><br><br>

      <label for="email">Mot de passe </label>
      <input type="text" id="password" name="password"><br><br>

      <input type="submit" value="Enregistrez">
      <input type="reset" value="Annuler">
    </form>


    <a href="{{url_for('Connexion')}}">Vous avez déjà un compte ?</a>

</body>
</html>